@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

:root {
    --br-color: #232D3F;
    --primary-color: #f1f1f1;
    --secundary-color: #e62828;
    --terceary-color: #005B41;
    --font: "Faculty Glyphic", serif;
}

body {
    background-color: var(--br-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: var(--br-color);
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--br-color);
    padding: 0 2rem;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1s;
}

.grafico {
    margin-top: 3rem;
}

.graficos-container {
    margin: 5rem;
}

.grafico-container__texto {
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    border: var(--secundary-color) solid 2px;
}

span {
    color: var(--secundary-color);
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--br-color);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
}

